In [10]:
import pandas as pd
import numpy as np 

print(pd.__version__)
print(np.__version__)

ModuleNotFoundError: No module named 'pandas'

In [5]:
n_row=10
n_cols=5
cols=tuple ('ABCDE')

df = pd.DataFrame(np.random.radint(1, 5, size=(n_rows, n_cols)),
                  columns=cols)
df

NameError: name 'pd' is not defined

In [12]:
tuple('ABCDE')

('A', 'B', 'C', 'D', 'E')

In [ ]:
df.add_prefix('kolom_')

In [ ]:
df.add_suffix('_field')

In [6]:
df[(df['A'==1])| (DF['A']==3)]

NameError: name 'df' is not defined

In [7]:
df[df['A'].isin([1.3])]

NameError: name 'df' is not defined

In [8]:
df[not df['A'].isin([1,3])]

NameError: name 'df' is not defined

In [9]:
df[df['A'].isin([1,3])]

NameError: name 'df' is not defined

In [14]:
df[~df['A'].isin([1,3])]

NameError: name 'df' is not defined

In [16]:
import pandas as pd

print(pd._ _version_ _)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3210053464.py, line 3)

In [17]:
data={'col1':['1', '2', '3', 'teks'],
     'cols2':['1', '2', '3', '4']}
df=pd.DataFrame(data)
df

NameError: name 'pd' is not defined

In [18]:
df.dtypes

NameError: name 'df' is not defined

In [19]:
df_x=df.astype({'col2':'int'})
df_x

NameError: name 'df' is not defined

In [20]:
df_x.dtypes

NameError: name 'df_x' is not defined

In [21]:
df.apply(pd.to_numeric,error='coerce')

NameError: name 'df' is not defined

In [22]:
import pandas as pd
import numpy as np 

print(pd.__version__)
print(np.__version__)

ModuleNotFoundError: No module named 'pandas'

In [23]:
n_row=5
n_cols=2
cols=tuple ['bil_pecahan', 'bil_bulat']

df = pd.DataFrame(np.random.radint(1, 20, size=(n_rows, n_cols)),
                  columns=cols)
df['bil_pecahan']=df['bil_peacahan'].astype('float')

df.index=pd.util.testing.makeDateIndex(n_rows, freq='H')
df= df.reset_index()

df['teks']=list ('ABCDE')
df

NameError: name 'pd' is not defined

In [24]:
df.dtypes

NameError: name 'df' is not defined

In [25]:
df.select_dtypes(include='number')

NameError: name 'df' is not defined

In [26]:
df.select_dtypes(include='float')

NameError: name 'df' is not defined

In [27]:
df.select_dtypes(include='int')

NameError: name 'df' is not defined

In [28]:
df.select_dtypes(include='object')

NameError: name 'df' is not defined

In [29]:
df.select_dtypes(include='datetime')

NameError: name 'df' is not defined

In [ ]:
df.select_dtypes(include='number', 'object')